/* pour l'animation de dégradé*/
/*
#canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}*/
/* dégradé du formulaire*/
.near-moon-gradient {
    background-image: linear-gradient(to bottom, #5ee7df 0%, #b490ca 100%);
}
main{
   margin-top: 56px;
}
/* css principal*/
body.dark .navbar {

    color: rgba(0, 0, 0, 0.5);
    background-color: #f0ebeb;
}

.navbar {
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(130, 130, 130, 1);
}
/*l'ombre casse-couille qui voulait pas partir, c'était juste de l'outline*/
.navbar-toggler{
    outline: none !important;
}
.clair{
   background-color: rgba(0, 0, 0, 0.3);
}

body.dark .clair{
   background-color: rgba(255, 255, 255, 0.3) ;
}
/* quand on sélectionne*/
::selection {
    background: #ff8a00;
    color: #f0ebeb;
}

body.dark ::selection {
    background: #30bf86;
    color: #f0ebeb;
}


noir {
    background-color: orange;

}

/* pour empêcher la sélection*/
.disable-selection {
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/
}



body.dark {
    color: #f0ebeb;
    background-color: black;
    background-image: none;

}

body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 10;
    color: black;
    position: relative;

}

.fa-lightbulb {
    color: black;
    display: inline-block;
    padding-left: 20px;
}

.fas {
    color: #f0ebeb;
    vertical align: middle;
}

/* animation du h1*/
.animated {
    animation-duration: 7s;
    animation-delay: 2s;
    animation-iteration-count: 1;
}

body.dark footer {
    color: black;
    background-color: #30bf86;

}

.fixed-top {
    z-index: 200;
}

footer {
    width: 100%;
    padding: 0px;
    margin: 0px;
    bottom: 0;
    background-color: #da1b60;


}

footer,
p {
    font-size: 15px;

}

body.dark .copyright {
    color: #f0ebeb;

}

.copyright {
    color: black;

}

.lienrs {
    font-size: 30px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 300;
    font-style: italic;

}

body.dark .lienrs {
    color: darkgray;

}

body.dark h1 {
    color: #30bf86;


}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: orangered;
    font-weight: 300;
    animation: hue 60s infinite linear;
}

/* icone font awesome */
body.dark .fa-5x , body.dark .fa-moon , body.dark .fa-sun{
    background: linear-gradient(to right, #30bf86, #075870);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-5x ,.fa-moon, .fa-sun{
    background: linear-gradient(to right, #ff8a00, #da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body.dark .hover {

    color: aliceblue;

}

.hover {
    font-size: 30px;
    text-align: center;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

body.dark .hover:hover {
    background: linear-gradient(to right, #30bf86, #075870);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.hover:hover {
    background: linear-gradient(to right, #ff8a00, #da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

h2 {
    font-size: 50px;
    text-align: center;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 900;

}

body.dark h2 {
    color: #f0ebeb;
}

body.dark h2:hover {
    background: linear-gradient(to right, #30bf86, #075870);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

h2:hover {
    background: linear-gradient(to right, #ff8a00, #da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

object {
    height: 300px;
    width: auto;
    background-color: aliceblue;

}



.titre {
    top: 100px;
    left: auto;
    position: absolute;
    /* margin: 0px;
    padding: 0px;
    width: 80%;*/


}

.centrer {
    height: 100px;
}


/* modifier l'apparence de la scroll bar */
/* largeur */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #ff8a00, #da1b60);
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #075870;
}

/* barre de progression */
progress {
    /* Positioning */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;

    /* Dimensions */
    width: 100%;
    height: .4em;

    /* Reset the apperance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Get rid of the default border in Firefox/Opera. */
    border: none;

    /* For Firefox/IE10+ */
    background-color: transparent;

    /* For IE10+, color of the progress bar */
    color: #ff8a00;
}
body.dark progress {
    color: #075870;


}

progress::-webkit-progress-bar {
    background-color: transparent;
}



.single::-webkit-progress-value {
    background-color: transparent;
    background-image: -webkit-linear-gradient(left, transparent, #ff8a00);
}

.single::-moz-progress-bar {
    background-color: transparent;
    background-image: -moz-linear-gradient(left, transparent, #ff8a00);
}

body.dark .single::-webkit-progress-value {
    background-color: transparent;
    background-image: -webkit-linear-gradient(left, transparent, #075870);
}

body.dark .single::-moz-progress-bar {
    background-color: transparent;
    background-image: -moz-linear-gradient(left, transparent,  #075870);
}

.progress-container {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: 1em;
    display: block;
}

.progress-bar {
    background-color: red;
    width: 50%;
    display: block;
    height: inherit;
}

body.dark .progress-bar {
    background-color: #075870;
}


/* modifier l'apparence de la scroll bar */
/* largeur */
body.dark::-webkit-scrollbar {
    width: 20px;
}

/* Track */
body.dark::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f0ebeb;
    border-radius: 15px;
}

/* Handle */
body.dark::-webkit-scrollbar-thumb {
    background: linear-gradient(to left top, #30bf86, #075870);
    border-radius: 15px;
}

/* Handle on hover */
body.dark::-webkit-scrollbar-thumb:hover {
    background: #075870;
}

a {
    color: #f0ebeb;
}

a:hover {
    background: linear-gradient(to right, #ff8a00, #da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

body.dark a:hover {
    background: linear-gradient(to left top, #30bf86, #075870);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ________ button dark mode*/
/*  début de celui en material design*/
.switchmd {
    display: inline-block;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    height: 23px;
    margin: 0 0 0 7px;
}

.switchmd__input {
    position: absolute;

    width: 36px;
    height: 20px;
    opacity: 0;
    z-index: 0;
}

.switchmd__label {
    display: block;
    padding: 0 0 0 44px;
    cursor: pointer;
}

.switchmd__label:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 36px;
    height: 14px;
    background-color: orangered;
    border-radius: 14px;
    z-index: 1;
  /*  transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);*/
        transition: .25s ease-out;
    margin: 0;
}

body.dark .switchmd__label:before {
    background-color: #075870;
}

.switchmd__label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 21px;
    height: 21px;
    background-color: #da1b60;
    border-radius: 14px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    z-index: 2;
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: left, background-color;
}

.switchmd__input:checked + .switchmd__label:before {
    background-color: orangered;
}

.switchmd__input:checked + .switchmd__label:after {
    left: 16px;
    background-color: #da1b60;
}

body.dark .switchmd__input:checked + .switchmd__label:before {
    background-color: #075870;
}

body.dark .switchmd__input:checked + .switchmd__label:after {
    left: 16px;
    background-color: #30bf86;
}

/* fin du bouton dark Mode*/

.follow {
    font-size: 30px;
    text-align: center;
}

/* ---liens du menu ----*/

.nav-item {
    position: relative;
}

.nav-link {
    opacity: 0.70;
}

.nav-link .active:active {
    opacity: 1;
}

.nav-link:hover {
    opacity: 1;
    font-weight: 500;
}


body.dark a {
    color: black;
    text-decoration: none;
}



/* pour les onglets du menu actifs ça rajoute une barre en bas*/

.active::after,
.nav-item:hover::after {
    opacity: 1;
    content: ' ';
    position: absolute;
    border-top: solid 8px transparent;/* si je mets juste "border" les extrémités seront pointus*/
    border-width: 8px;
    top: 2.5em;
    left: 4px;
    right: 4px;
    border-color: #ff8a00 transparent transparent transparent;
}
a.nav-link.active{
        color: #ff8a00;

}
body.dark a.nav-link.active{
        color: #075870;

}
.navbar-nav .nav-item .nav-link .active a {
    opacity: 1;
}

body.dark .active::after,
body.dark .nav-item:hover::after {
    border-color: #075870 transparent transparent transparent;

}
#burgermenu{
    color: #ff8a00;
}
body.dark #burgermenu{
    color: #075870;
}
/* ___ fin des liens du menu___*/


/*_____Bouton back to top _____ */

#backtotop {
    display:block;
    height: 56px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ff8a00;
    color: #f0ebeb;
    cursor: pointer;
    padding: 0 3px;
    border-radius: 29px;
    /* sert à rien car le bouton ne disparait pas*/
      transition: background-color .3s, 
    opacity .5s, visibility .5s;
    
}
#backtotop:hover {
    background-color: #da1b60;
}

body.dark #backtotop:hover {
    background-color: #30bf86;
}

body.dark #backtotop {
    background-color: #075870;
}
.material-icons{
    font-size: 50px !important;
    font-weight: 800 !important;
    color: #f0ebeb;
}



@media screen and (min-width: 641px) and (max-width: 950px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 50px;
    }

    a {
        font-size: 15px;
    }
}

@media screen and (max-width: 640px) {


    .centrer {
        height: 20px;
    }

    footer {
        position: relative;
        font-size: 20px;
        margin-top: 20px;
    }

    main {
        margin-top: 50px;
        margin-bottom: auto;

    }



    h2 {
        font-size: 35px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: 800;

    }

    a {
        font-size: 25px;
        text-align: center;
        font-weight: 100;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }
}